.cardbackground{
  background: #718e95;
}
.color2bg{
  background: #F4D19E;
  border-color:#F4D19E ;
}
.color2{
  color: #F4D19E;
  
}
.color3bg{
  background: #003B49;
  border-color:#003B49 ;
}
.color3{
  color: #003B49;
}
